
.statusChosen{
    position: relative;
    width: 208px;
    height: 20px;
    left: 16px;
    margin-top: 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height; or 133% */

    display: flex;
    align-items: center;

    /* Color/Neutral/2 - Grey */

    color: #D0C9D6;
}

.statusWindow{
    display: block;
    position: absolute;
    width: 193px;
    height: 124px;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    padding: 12px 16px;
    z-index: 9999;
}
